<div class="show-banner">
  <div class="container show-card p-5">
    <h1 class="mb-4"><%= @cocktail.name %></h1>

    <% @cocktail.doses.each do |dose| %>
      <div class="card-product mb-4">
        <div class="card-product-infos">
          <h2><%= dose.description %></h2>
          <p><%= dose.ingredient.name %></p>
          <%= link_to 'Delete', dose_path(dose), :class => "btn btn-outline-danger", method: :delete %>
        </div>
      </div>
    <% end %>

    <%= link_to 'Add a Dose', new_cocktail_dose_path(@cocktail), :class => "btn btn-outline-secondary mr-2" %>
    <%= link_to 'Back to Cocktails', cocktails_path, :class => "btn btn-outline-warning" %>
  </div>

</div>


